NEXT_PUBLIC_API_BASE_URL=https://ride-and-go.pynfi.com
NEXT_PUBLIC_VEHICLE_API_BASE_URL=https://vehicule-service.pynfi.com
NEXT_PUBLIC_OSM_BASE_URL=https://nominatim.openstreetmap.org
NEXT_PUBLIC_COMPLIANCE_URL=https://ugate-compliance-callback.vercel.app